/* Estilos generales */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

body {
    margin: 0;
    background-color: #f6f9fe;
    font-family: Arial, sans-serif;
}

.home-container {
    display: flex;
    flex-direction: row;
    height: 100%;
}

/* Estilos para la barra lateral */
.sidebar {
    width: 30%;
    height: auto;
    justify-content: center;
    align-content: center;
    padding: 2%;
    
}

.logo {
    width: 90%;
    height: auto;
    margin-bottom: 3%;
    align-self: center;
}

/* Estilos para el dashboard */
.fotoCrm{
    width: 70%;
    margin-top: 3%;
    flex: 1;

}

.panelCrm {
    width: 100%;
    height: auto;
}

/*Estilos responsivos*/
@media (max-width: 1440px) {
    .sidebar {
        width: 30%;
    }
    .fotoCrm
    {
        width: 70%;
    }

@media (max-width: 1366px) {
    .sidebar {
        width: 35%;
    }
}

}